<% editable = Policies::PlantEditing.new(current_user, @plant).allowed? %>

<% unless @plant.user == current_user %>
  <%= link_to "Back to #{@plant.user.name}", user_path(@plant.user) %>
<% end %>

<h1><%= @plant.nickname %></h1>
<hr>
<div id="<%= dom_id @plant %>">
  <h3>
    Pictures
    <span class="header-button">
      <% if editable %><%= link_to 'Upload New Picture', new_plant_image_path(@plant), class: 'btn btn-secondary' %><% end %>
    </span>
  </h3>
  <br>

  <%= render 'plants/image_cards', plant: @plant %>

  <hr>

  <h3>
    Details
    <% if editable %>
      <span class="header-button">
        <%= link_to 'Edit Details', edit_plant_path(@plant), class: 'btn btn-secondary' %>
      </span>
    <% end %>
  </h3>

  <% if @plant.variety.present? %>
    <p>
      <strong>Variety:</strong>
      <%= @plant.variety %>
    </p>
  <% end %>

  <% if @plant.source.present? %>
    <p>
      <strong>Source:</strong>
      <%= @plant.source %>
    </p>
  <% end %>

  <% if @plant.description.present? %>
    <p>
      <strong>Description:</strong>
      <%= @plant.description %>
    </p>
  <% end %>
</div>

<hr>

<h3>
  Measurements

  <% if editable %>
    <span class="header-button">
      <%= link_to 'New Measurement', new_plant_measurement_path(@plant), class: 'btn btn-secondary' %>
    </span>
  <% end %>
</h3>

<% if @plant.measurements.any? %>
  <%= line_chart @plant.measurements.map { |m| [m.date, m.size] } %>

  <table class="table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Measurement</th>
        <% if editable %>
          <th></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @plant.measurements.each do |measurement| %>
        <tr>
          <td><%= measurement.date %></td>
          <td><%= measurement.size %> <%= measurement.unit %></td>
          <% if editable %>
            <td>
              <%= link_to 'Edit', edit_plant_measurement_path(@plant, measurement) %>
              <%= link_to 'Delete', plant_measurement_path(@plant, measurement), method: :delete, data: { turbo_method: :delete, confirm: 'Are you sure you want to delete this measurement?', turbo_confirm: 'Are you sure you want to delete this measurement?' } %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>None recorded yet!</p>
<% end %>

<hr>

<h3>Comments</h2>

<%= form_for [@plant, @comment || Comment.new] do |f| %>
  <% if f.object.errors.any? %>
    <%= f.object.errors.full_messages.to_sentence %>
  <% end %>

  <div class="form-floating mb-3">
    <%= f.text_area :text, class: 'form-control', placeholder: 'New comment' %>
    <%= f.label :text, 'New comment' %>
  </div>

  <%= f.submit 'Post', class: 'btn btn-secondary' %>
<% end %>

<% if @plant.comments.any? %>
  <%= render 'comments/comments', comments: @plant.comments %>
<% else %>
  <p>No comments yet.
<% end %>

<% if editable %>
  <br><br><br>

  <%= button_to "Delete this plant",
      @plant,
      method: :delete,
      data: { 'turbo-confirm': 'Are you sure? This cannot be undone.' },
      class: 'btn btn-danger' %>
<% end %>
