<%= form_with(model: plant) do |form| %>
  <% if plant.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h2><%= pluralize(plant.errors.count, "error") %> prohibited this plant from being saved:</h2>

      <ul>
        <% plant.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mb-3">
    <%= form.label :nickname, class: 'form-label' %>
    <%= form.text_field :nickname, class: 'form-control' %>
  </div>

  <div class="field mb-3">
    <%= form.label :variety, class: 'form-label' %>
    <%= form.text_field :variety, class: 'form-control' %>
  </div>

  <div class="field mb-3">
    <%= form.label :source, class: 'form-label' %>
    <%= form.text_field :source, class: 'form-control' %>
  </div>

  <div class="field mb-3">
    <%= form.label :description, class: 'form-label' %>
    <%= form.text_area :description, class: 'form-control' %>
  </div>

  <div>
    <%= form.fields_for :images do |image_fields| %>
      <h3>Pictures</h3>

      <div class="field mb-3">
        <%= image_tag image_fields.object.image.variant(:thumb) if image_fields.object.image.attached? %>
        <%= image_fields.file_field :image, class: 'form-control', accept: 'image/*' %>

        <%= image_fields.label :caption, class: 'form-label' %>
        <%= image_fields.text_field :caption, class: 'form-control' %>
      </div>
    <% end %>
  </div>

  <div>
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
