<% if plant.images.any? %>
  <div class="row">
    <% plant.images.each do |image| %>
      <div class="card m-1 plant-card">
        <%= link_to image.image, target: '_blank' do %>
          <%= image_tag image.image.variant(:medium) %>
        <% end %>
        <div class="card-body">
          <div class='info'>
            <b><%= image.caption %></b>

            <% if image.caption.present? %>
              -
            <% end %>
            <i><%= I18n.l image.created_at, format: :short_date %></i>
          </div>

          <% if Policies::ImageEditing.new(current_user, image).allowed? %>
            <div class="controls">
              <%= link_to 'Edit', edit_plant_image_path(image.imageable, image) %>
              |
              <%= link_to 'Delete', plant_image_path(image.imageable, image), data: { turbo_confirm: 'Are you sure you want to delete this image? This cannot be undone.', turbo_method: :delete } %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <p>None yet!</p>
<% end %>
