<div id="<%= dom_id plant %>" class="card m-1 profile-card">
  <% if plant.images.any? %>
    <%= image_tag plant.images.last.image.variant(:medium) %>
  <% end %>

  <h4 class="card-header text-center"><%= link_to plant.nickname, url %></h4>



    <ul class="list-group list-group-flush">
      <% if plant.variety.present? %>
        <li class="list-group-item">
            <strong>Variety:</strong>
            <%= plant.variety %>
        </li>
      <% end %>
      <% if plant.source.present? %>
        <li class="list-group-item">
            <strong>Source:</strong>
            <%= plant.source %>
        </li>
      <% end %>
      <% if plant.description.present? %>
        <li class="list-group-item">
          <strong>Description:</strong>
          <%= plant.description %>
        </li>
      <% end %>

</div>
