<div id="<%= dom_id plant %>">
  <p>
    <strong>User:</strong>
    <%= plant.user_id %>
  </p>

  <p>
    <strong>Nickname:</strong>
    <%= plant.nickname %>
  </p>

  <p>
    <strong>Variety:</strong>
    <%= plant.variety %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= plant.description %>
  </p>
</div>

<h2>Measurements</h2>

<% if plant.measurements.any? %>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Measurement</th>
      </tr>
    </thead>
    <tbody>
      <% plant.measurements.each do |measurement| %>
        <tr>
          <td><%= measurement.date %></td>
          <td><%= measurement.size %> <%= measurement.unit %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>None recorded yet!</p>
<% end %>

<%= link_to 'New Measurement', new_plant_measurement_path(plant) %>
