<div id="<%= dom_id plant %>" class="card m-1" style="width: 18rem">
  <% if plant.images.attached? %>
    <%= image_tag plant.images.first.variant(:thumb) %>
  <% end %>

  <div class="card-body">
    <h2 class="card-title"><%= link_to plant.nickname, url %></h2>

    <p>
      <strong>Variety:</strong>
      <%= plant.variety %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= plant.description %>
    </p>
  </div>
</div>
