<div id="<%= dom_id plant %>">
  <p>
    <strong>User:</strong>
    <%= plant.user_id %>
  </p>

  <p>
    <strong>Nickname:</strong>
    <%= plant.nickname %>
  </p>

  <p>
    <strong>Variety:</strong>
    <%= plant.variety %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= plant.description %>
  </p>

</div>
