<div id="<%= dom_id plant %>" class="card m-1" style="width: 18rem">
  <% if plant.images.any? %>
    <%= image_tag plant.images.first.image.variant(:medium) %>
  <% end %>

  <div class="card-body">
    <h2 class="card-title"><%= link_to plant.nickname, url %></h2>

    <% if plant.variety.present? %>
      <p>
        <strong>Variety:</strong>
        <%= plant.variety %>
      </p>
    <% end %>

    <% if plant.source.present? %>
      <p>
        <strong>Source:</strong>
        <%= plant.source %>
      </p>
    <% end %>

    <% if plant.description.present? %>
      <p>
        <strong>Description:</strong>
        <%= plant.description %>
      </p>
    <% end %>
  </div>
</div>
