<h1><%= plant.nickname %></h1>

<div id="<%= dom_id plant %>">
  <%= render 'plants/image_cards', plant: plant %>

  <p>
    <strong>Variety:</strong>
    <%= plant.variety %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= plant.description %>
  </p>
</div>

<h2>Measurements</h2>

<% if plant.measurements.any? %>
  <%= line_chart @plant.measurements.map { |m| [m.date, m.size] } %>

  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Measurement</th>
      </tr>
    </thead>
    <tbody>
      <% plant.measurements.each do |measurement| %>
        <tr>
          <td><%= measurement.date %></td>
          <td><%= measurement.size %> <%= measurement.unit %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>None recorded yet!</p>
<% end %>

<h2>Comments</h2>

<%= form_for [@plant, @comment || Comment.new] do |f| %>
  <% if f.object.errors.any? %>
    <%= f.object.errors.full_messages.to_sentence %>
  <% end %>

  <div class="form-floating mb-3">
    <%= f.text_area :text, class: 'form-control', placeholder: 'New comment' %>
    <%= f.label :text, 'New comment' %>
  </div>

  <%= f.submit 'Post', class: 'btn btn-secondary' %>
<% end %>

<% if plant.comments.any? %>
  <%= render 'comments/comments', comments: plant.comments %>
<% else %>
  <p>No comments yet.
<% end %>
