<%= form_with(model: [@plant, measurement]) do |form| %>
  <% if measurement.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h2><%= pluralize(measurement.errors.count, "error") %> prohibited this measurement from being saved:</h2>

      <ul>
        <% measurement.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mb-3">
    <%= form.label :date, class: 'form-label' %>
    <%= form.date_field :date, class: 'form-control' %>
  </div>

  <div class="field mb-3">
    <%= form.label :size, class: 'form-label' %>
    <%= form.number_field :size, step: '.01', class: 'form-control' %>
  </div>

  <div class="field mb-3">
    <%= form.label :unit, class: 'form-label' %>
    <%= form.select :unit, ['in', 'cm'], class: 'form-control' %>
  </div>

  <div>
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
