<div id="<%= dom_id measurement %>">
  <p>
    <strong>Plant:</strong>
    <%= measurement.plant_id %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= measurement.date %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= measurement.size %>
  </p>

  <p>
    <strong>Unit:</strong>
    <%= measurement.unit %>
  </p>

</div>
